/* ORIGINAL */
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* START MY INPUTS */
body{
  background: black;
  color: white;
  /* display: flex; */
}

ul {
margin: 0;
}

.head-and-nav {
  background-image: url(./components/pages/images/header-img.jpg);
  /* background-size: 150px; */
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  /* background-attachment: fixed; */
}

header {
  display: flex;
}

h1 {
  display: flex;
  font-family: helvetica;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
  color: rgb(1, 28, 9);
  margin-left: 54px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

}

.nav-item {
  padding: 10px;
  font-size: large;
}

.nav-item a {
  text-decoration: none;
  color: aliceblue;
  background-color: rgba(95, 158, 160, .4);
  border-radius: 7px;
  background-size: 20px;
  padding: 4px;
  filter: hue-rotate(50deg);
}

.nav-item a:hover {
  color: rgb(1, 28, 9);
  background-color: rgb(240, 248, 255, .4);
} 

/* ABOUT CSS */

.about-img {
  background-image: url(./components/pages/images/cyber-snow.jpg);
  position: relative;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(3px) brightness(1.1);
  opacity: .9;
  box-shadow: 0px 0px 15px 17px lightblue inset;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5% 20px; */
  position: absolute;
  bottom: 4%;
 
}

.profile-pic {
  border-radius: 15px 57px;
  height:267px;
  width: 200px;
  margin: 0px 75px;
  box-shadow: 4px 2px 15px 4px lightblue;
}

.profile-text {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
  padding: 15px;
  background-color: rgba(184, 223, 246, 0.9);
  color: #282c34;
  border-radius: 57px 15px;
  width: 55%;
  height: 40%;
  box-shadow: 4px 2px 15px 4px lightblue;
}


/* img {
  height: 100px;
  width: 100px;
} */

/* PORTFOLIO */
.portfolio {
  background-image: url(./components/pages/images/cyber-forest2.jpg);
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); */
  box-shadow: 0px 0px 15px 17px green inset;
  background-size: cover;
  background-position: center;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 5px;
  /* border-radius: 50px 50px 50px 50px; */

  /* filter: blur(2px); */
}

/* .img-text-overlay {
  position: relative;
  width: 100%;
  height: 69%;
  background-color: rgba(240, 248, 255, .8);
  display: flex;
  align-items: center;
  justify-content: center;

} */

/* a {
  text-decoration: none;
  color: black;
} */

.card1 {
  /* display: flex; */
  /* max-height: 300px;
  max-width: 300px; */
  height: 300px;
  width: 50%;
  /* margin: 20px; */
  margin-top: 30px;
  
  /* background-image: url(./components/pages/images/headGG.png);
  background-size:contain;
  background-repeat: no-repeat;
  color: white; */
}

.card1-text {
  position:relative;
  top: -207px;
  bottom: 0;
  right: 0;
  left: 215px;
  text-decoration: none;
  color: aliceblue;
  background-color: rgba(240,248,255, .7);
  max-width: 300px;
  padding: 92px 0px;
  border-radius: 5px 100px;
}

.card1 img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px 100px;
}

.card2 {
  height: 300px;
  width: 50%;
  /* margin: 20px; */
  margin-top: 30px;
  
}

.card2 img {
  max-height: 300px;
  /* max-width: 300px; */
  height: 206px;
  width: 300px;
  border-radius: 100px 5px;
}

.card3 {
  height: 300px;
  width: 50%;
  /* margin: 20px; */
  margin-top: 30px;
  
}

.card3 img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px 100px;
}

.card4 {
  height: 300px;
  width: 50%;
  /* margin: 20px; */
  margin-top: 30px;
  
}

.card4 img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 100px 5px;
}




/* CONTACT */
/* .contact-pic {
  background-image: url(./components/pages/images/cyber-mountain2.jpg);
  background-size:cover;
  background-position:top; 
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  position: relative;

} */
.contact-pic {
 width: 50%;
 position: relative;
 opacity: .9;
 height: 100%;
 left: 1.5px;
 filter: blur(2px) brightness(1.1);
 /* border-radius: 5px; */
 /* margin-bottom: 10px; */
}

.contact-pic2 {
  width: 50%;
  position: relative;
  opacity: .9;
  height: 100%;
  right: 1.2px;
  top: 0;
  filter: blur(2px) brightness(1.1);
  /* border-radius: 5px; */
  /* margin-bottom: 10px; */
 }

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  /* max-width: 100%; */
  width: 48%;
  /* height: 95%; */
  background-color: rgba(255,255,224, .8);
  /* margin-left: 20px; */
  border-radius: 15px 15px;
  position: absolute;
  bottom: -7%;
  right: 25%;
  box-shadow: 0px 0px 125px 5px goldenrod inset;
  color: saddlebrown;
  /* padding: 5px 0px 50px 0px; */
}
.contact-form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  /* margin-left: 13%; */
}

h3 {
  margin-bottom: 0px;
}

h4 {
  text-align: left;
}

.name-input {
  /* margin: 5px; */
  height: 20px;
  border-radius: 5px;
}

.email-input {
  /* margin: 5px; */
  height: 20px;
  border-radius: 5px;
}

.subject-input {
  /* margin: 5px; */
  height: 20px;
  border-radius: 5px;
}

.message-input {
  /* margin: 5px; */
  height: 100px;
  width: 200%;
  /* align-self: flex-end; */
  border: solid black 2px;
  border-radius: 10px;
}

/* textarea {
  width: 464px;
  height: 161px;
} */

.submit-button {
  margin: 10px 10px 10px 3px;
  background-color: forestgreen;
  color: aliceblue;
  border-radius: 5px;

}

/* RESUME */
.resume-container {
  background-image: url('./components/pages/images/cyber-fall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 150%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.resume-link a {
  text-decoration: none;
   color: aliceblue;
}

/* FOOTER */
.footer-container {
  background:rgb(135,206,235) url(./components/pages/images/header-img.jpg);
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* bottom: 0;
  width: 100%; */
  /* text-align: center; */
  filter: brightness(1.5);
}

.github-icon a img {
  margin: 10px;
  max-height: 64px;
  background-color: grey;
  border-radius: 50px;
  filter: brightness(.5);
}

.linkedin-icon a img {
  margin: 10px;
  height: 64px;
  background-color: grey;
  border-radius: 50px;
  filter: brightness(.5);
}

.facebook-icon a img {
  margin: 10px;
  max-height: 64px;
  background-color: grey;
  border-radius: 50px;
  filter: brightness(.2);
}

/* HUES */

.green-hue {
  filter: hue-rotate(278deg);
}

.summer-hue {
  filter: hue-rotate(194deg) brightness(1.25);
}

.summer-hue-footer {
  filter: hue-rotate(194deg) brightness(2.5) saturate(60%);
}

.fall-hue{
  filter: hue-rotate(162deg) saturate(200%);
}

.fall-hue-footer {
  filter: hue-rotate(150deg);
}

/* imported snowfall */
.intro,
.intro a{
  color:#fff;
}
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  filter: blur(3px);
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}
/* end snowfall */

/* use for icons or borders behind icons */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
