.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* start my inputs */
.head-and-nav {
  background-image: url(../public/mountain-wide-one.webp);
  /* background-size: 150px; */
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  /* background-attachment: fixed; */
}

header {
  display: flex;
}

h1 {
  display: flex;
  font-family: helvetica;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
  color: aliceblue;
  margin-left: 54px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

}

.nav-item {
  padding: 10px;
  font-size: large;
}

.nav-item a {
  text-decoration: none;
  color: aliceblue;
  background-color: rgba(95, 158, 160, .4);
  border-radius: 7px;
  background-size: 20px;
  padding: 4px;
}

.nav-item a:hover {
  color: cadetblue;
  background-color: rgb(240, 248, 255, .4);
} 

.about-container {
  background-image: url(../public/mountain-wide-one.webp);
  background-size: cover;
  height: 100vh;
}

img {
  height: 100px;
  width: 100px;
}

.card1 {
  display: flex;
}

.portfolio {
  background-image: url(./components/pages/images/cyber-tree.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* use for icons or borders behind icons */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
